:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;

}

body {
  margin: 0;
  display: flex;
  padding: 5vh 10vw;
}

/* App.jsx */

.content {
  display: flex;
  flex-direction: row;
}

section {
  padding-bottom: 6em;
  scroll-margin-top: 5vh;
}

.sticky-header {
  display: none;
}

p {
  font-size: 1.1em;
}

.inline-imgs {
  display: flex;
  justify-content: space-around;
}

.inline-imgs > img {
  width: 40%;
  object-fit: cover;
}

.hover-info {
  position: relative;
  display: inline-block;
}

.hover-info .hidden-info {
  visibility: hidden;
  background-color: #DFE6F5;
  color: #213547;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  width: 100%
}

.hover-info:hover .hidden-info {
  visibility: visible;
}

main {
  width: 55vw;
}

a, .hover-info {
  text-decoration: none;
  color: #597DB0;
}

#experience > div {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

#contact > div {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

#contact img[alt="Beau"] {
  height: 65vh;
  object-fit: cover;
}

#contact img[alt="Hayley and Beau"] {
  display: none;
}

/* Dock.jsx */

.dock {
  position: sticky;
  top: 5vh;
  height: calc(100% - 5vh);
  width: 25vw;
  min-width: 10em;
}

.headshot {
  width: 8em;
  height: 8em;
  background-color: #8DA0D1A0;
  border-radius: 4em;
}

.dock h1 {
  font-size: 2.5em;
  margin: 0;
}

.dock h3 {
  margin: 0;
  margin-bottom: 1em;
}

.dock ul {
  margin-top: 3em;
}

.social-links {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.nav-link {
  display: flex;
  align-items: center;
  width: 14em;
}

.nav-indicator {
  display: block;
  width: 4em;
  height: 1px;
  background-color: #213547;
  margin-right: 1em;

  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}

.nav-link:hover > .nav-indicator {
  width: 6em;
}

.nav-link.active > .nav-indicator{
  width: 6em;
}

.nav-text {
  text-transform: uppercase;
  font-size: smaller;
  font-weight: bold;
}

ul {
  padding: 0;
}

ul > li {
  list-style: none;
}

.social {
  height: 2em;
  object-fit: cover;
}


/* ContactForm.jsx */

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.input-title {
  background-color: #DFE6F5;
  width: 30%;
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
  text-align: center;
  min-height: 2em;
  border: 1px solid #DFE6F5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-text {
  width: 70%;
  border: 1px solid #DFE6F5;
  border-left: 0;
  border-top-right-radius: .5em;
  border-bottom-right-radius: .5em;
  font-family: inherit;
  font-size: 1.1em;
  padding: .5em
}

.btn {
  border: 1px solid transparent;
  border-radius: .5em;
  font-size: inherit;
  font-family: inherit;
  background-color: #DFE6F5;
  padding: .5em;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}

.btn:hover {
  background-color: #8DA0D1;
}

.send-error {
  text-transform: capitalize;
  background-color: #F46F3E;
}


/* ExCard.jsx */

.ex-card {
  background-color: #DFE6F560;
  display: flex;
  padding: 2em;
  border-radius: 2em;
}

.ex-dates {
  width: 20%
}

.ex-info {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 1em;
}

.ex-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.skill {
  background-color: #8DA0D160;
  padding: .25em .5em;
  border-radius: .5em;
}

@media (max-width: 1028px) {
  .content {
    flex-direction: column;
  }

  .dock {
    position: static;
    width: 100%
  }

  .nav-list {
    display: none;
  }

  .social-links {
    margin-top: 0 !important;
  }

  main {
    width: 100%
  }

  section {
    padding-bottom: 3em;
  }
  
  .sticky-header {
    display: block;
    padding: .25em 0;
    position: sticky;
    top: 0;
    background-color: #ffffffee;
    width: 100%;
    margin: 0;
    color: #597DB0;
  }

  .ex-card {
    flex-direction: column;
  }

  .ex-dates {
    width: 100%;
    font-size: .75em;
  }

  .ex-info {
    width: 100%
  }

}

@media (max-width: 640px) {
  #contact {
    display: block;
  }

  #contact > div {
    display: flex;
    flex-direction: column-reverse
  }
  #contact img[alt="Hayley and Beau"] {
    display: inline;
    width: 100%;
    margin-top: 1em;
    object-fit: cover;
    height: auto;
  }

  #contact img[alt="Beau"] {
    display: none
  }
}

@media (max-width: 512px) {

  img[alt="Beau and Hayley"] {
    display: none;
  }

  img[alt="baking"] {
    width: 100%
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #DFE6F5;
    background-color: #242424;
  }
  a, .hover-info {
    color: #8DA0D1;
  }

  .input-title {
    background-color: #7493BE;
    border: 1px solid #7493BE;
  }

  .input-text {
    border: #7493BE;
  }

  .btn {
    background-color: #7493BE;
    color: #DFE6F5;
  }

  .btn:hover {
    background-color: #597db0;
  }

  .sticky-header {
    background-color: #242424EE;
  }
}